<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="container">
      <h3>Add New Client</h3>
      <form method="post" action="">
        <input type="text" name="first_name" placeholder="First Name" required/>
        <br>
        <input type="text" name="last_name" placeholder="Last Name" required/>
        <br>
        <input type="number" name="phone_number" placeholder="Phone Number" min="0" max="999999999" required/>
        <br>
        <input type="text" name="email" placeholder="Email" required/>
        <br>
        <input type="submit" value="Add Client">
      </form>
      <hr>
      <a href="/web/clients">Go Back To Clients List</a>
    </div>
  </body>
</html>
