<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="container">
      <h3>Add New Court</h3>
      <form method="post" action="">
        <input type="text" name="type" placeholder="Type" required/>
        <br>
        <input type="text" name="sector" placeholder="Sector" required/>
        <br>
        <input type="submit" value="Add Court">
      </form>
      <hr>
      <a href="/web/courts">Go Back To Courts List</a>
    </div>
  </body>
</html>
